@{
    ViewData["Title"] = "Help";
}

<div class="ui dividing header">
    <i class="question circle outline icon"></i>
    <div class="content">
        Help
        <div class="sub header">Get answers to all your questions.</div>
    </div>
</div>