@{
    ViewData["Title"] = "Home Page";
}

<h3>Home Page</h3>

<div class="ui cards">
    <div class="red card">
        <div class="content">
            <div class="header">Total Projects</div>
            <div class="meta">Last refreshed: 20s ago</div>
            <h2 class="description" style="float: right;">
                143
            </h2>
        </div>
    </div>
    <div class="blue card">
        <div class="content">
            <div class="header">Total Workers</div>
            <div class="meta">Last refreshed: 50s ago</div>
            <h2 class="description" style="float: right;">
                200
            </h2>
        </div>
    </div>
    <div class="orange card">
        <div class="content">
            <div class="header">Workers Running</div>
            <div class="meta">Last refreshed: 2mins ago</div>
            <h2 class="description" style="float: right;">
                34
            </h2>
        </div>
    </div>
</div>