@{
    ViewData["Title"] = "Settings";
}

<div class="ui dividing header">
    <i class="settings icon"></i>
    <div class="content">
        Settings
        <div class="sub header">Manage your preferences</div>
    </div>
</div>
<div class="ui grid">
    <!-- Left column (30% width) -->
    <div class="three wide column">
        <div class="ui vertical fluid pointing menu">
            <a class="active item">
                Menu Item 1
            </a>
            <a class="item">
                Menu Item 2
            </a>
            <a class="item">
                Menu Item 3
            </a>
        </div>
    </div>

    <!-- Right column (remaining width) -->
    <div class="thirteen wide column">
        <div class="ui segment">
            <!-- Your content goes here -->
            This is your content segment
        </div>
    </div>
</div>